<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/styleChatTemplate.css">
</head>
<body>

<div class="col-3 friendList" id="friendsList">
</div>

<div class="row">
    <div class="col-9 buttons" id='options'>

        <div class="col-2 button" >
            <input class='change' id= 'account' name="account" type="button" value="Account">
        </div>
        <div class="col-2 button" >
            <input  class='change' id= 'logOut' name="logOut" type="button" value="Log Out">
        </div>
    </div>

    <div class="col-9" id='user'>
        <div class="col-2" id='infoUser'>
        </div>
        <div class="col-2" id='infoUser'>
        </div>
        <div class="col-2" id='pozaUser'>
            <img src="https://memegenerator.net/img/images/600x600/11113968/roger-american-dad.jpg" style="max-width:100%;height:auto;"/>
        </div>
        <div class="col-2" id='infoUser'>
            <%= user.username%><br>
        </div>
    </div>

    <div class="col-9 conversation" id= 'conversations'>
       <!-- <div class="col-2 conversationFriend" >
            <input id= 'conversation1' class='change' type="button" value="Friend1">
        </div>
        <div class="col-2 conversationFriend" >
            <input id= 'conversation1'  class='change' type="button" value="Friend2">
        </div> -->
    </div>

    <div class="col-8" id='chat'>
        <p>Chania is the capital of the Chania region on the island of Crete. The city can be divided in two parts, the old town and the modern city.</p>
        <p>Resize the browser window to see how the content respond to the resizing.</p>
    </div>

    <div class="col-1" id='options'>
        <div class="row" id='option1'>
            Option1
        </div>
        <div class="row" id='option2'>
            Option2
        </div>
    </div>
</div>
<div class="col-3" id='optionsFriends'>
    <div class='col-3 opf' id='op1'>
        <form id='addFriends'action="" method="post">
           <input id="nameFriendInput" autocomplete="off" />
          <button>Add</button>
       </form>
    </div>

    <div class='col-1 opf' id='op2'>
        Op1
    </div>
</div>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"> var myhead ="sper sa fie bine";</script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script > var myhead ="sper sa fie bine";</script>
<script src="../JS/ChatTemplateHandler.js">


</script>
</body>
</html>
