<form  method="post">
        <input id="firstName" name="firstName" type="text" placeholder="First Name">
        <input id="lastName" name="lastName" type="text" placeholder="Last Name">
        <input id="CNP" name="CNP" type="text" placeholder="CNP">
        <input id="userName" name="userName" type="text" placeholder="User name">
        <input id="password" name="password" type="password" placeholder="Password">
        <button id="cAcc">Create Account</button>
</form>

